body {
	background: #D2E0F2;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

#leftNav ul {
	list-style-type: none;
	margin: 0px;
	padding: 4px 10px;
}

#leftNav ul li a {
	height: 24px;
	line-height: 24px;
	color: #000000;
	border: 1px solid #ffffff;
	display: block;
	padding: 3px 5px;
	border: 1px solid #ffffff;
}

#leftNav ul li a:hover {
	border: 1px solid #99BBE8;
	background: #ecf3ff;
	cursor: pointer;
	color: #416AA3;
}

#leftNav ul li a.selected {
	border: 1px solid #99BBE8;
	background: #E0ECFF;
	font-weight: bold;
	color: #416AA3;
}

#mainTitle {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	background: #E0ECFF;
	padding-left: 20px;
}

#mainPanel {
	padding: 0
}

.fromTitle {
	font-weight: bold;
	vertical-align: top;
	padding-top: 5px;
}