body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #333;
    background: #efefef;
}

.navbar {
    min-height: 40px;
}

.navbar .navbar-brand {
    height: 40px;
    padding: 10px 15px;
    width: 220px;
    text-align: center;
}

.navbar-left > a {
    padding-left: 10px;
    margin-top: 8px;
    float: left;
}

.navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 8px;
}

.navbar .dropdown-toggle > i, .navbar-left > a {
    font-size: 16px;
}

.navbar .dropdown-menu {
    min-width: 200px;
}

.dropdown-menu > .header {
    padding: 6px;
    margin-top: -5px;
    background-color: #eee;
}

.glyphicon {
    top: 2px;
}

.nav-stacked > li + li {
    margin-top: 0;
}

.navbar .badge {
    position: absolute;
    font-size: 11px !important;
    font-weight: 300;
    top: 5px;
    left: 24px;
    text-align: center;
    height: 14px;
    background-color: #e02222;
    padding: 0 5px 2px 5px;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    text-shadow: none !important;
}

.footer {
    margin: 30px 0 20px;
    padding: 20px 0;
    color: #ccc;
    font-size: 12px;
    border-top: solid #ccc 1px;
    text-align: center;
}

.skinblue .navbar {
    background-color: #3c8dbc;
}

.skinblue .navbar-left > a:hover {
    color: #ffffff;
}

.skinblue .navbar-left > a, .skinblue .navbar .navbar-brand, .skinblue .navbar .dropdown > a {
    color: #f9f9f9;
}

.skinblue .navbar .navbar-brand, .skinblue .navbar-nav > li > a:hover, .skinblue .navbar-nav > li > a:focus {
    background-color: #357ca5
}

.page-container {
    padding: 0;
    margin: 41px 0 0;
}

.page-sidebar {
    width: 220px;
    position: absolute;
    height: auto !important;
    overflow: visible !important;
}

.page-main {
    margin-left: 220px;
    margin-top: 0;
    min-height: 760px;
    padding: 0;
    background-color: #fff;
}

.firstMenu > li {
    border-bottom: 1px solid #ddd;
}

.firstMenu.nav-pills a {
    border-radius: 0;
    color: #333;
}

.firstMenu li a:hover {
    background: #e3e3e3;
}

.firstMenu.nav-pills > li > a:hover {
}

.firstMenu li.active a:hover {
    background: #3c8dbc;
}

.firstMenu.nav-pills > li.open > a {
    background-color: #d7d7d7;
}

.firstMenu.nav-pills > li.active > a {
    background: #3c8dbc;
    color: #fff;
}

.firstMenu > li > .nav > li {
    padding: 1px 0 0;
}

.firstMenu > li > .nav > li > a {
    padding-left: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #777;
}

.firstMenu > li > .nav > li > a:hover {
    background: rgba(43, 132, 167, 0.34);
    color: #000;
}

.firstMenu > li > .nav > li > a > .selected {
    width: 8px;
    height: 25px;
    background-image: url("/image/sidebar-menu-arrow.png");
    float: right;
    position: absolute;
    right: 0;
    top: 4px;
}

.firstMenu > li > .nav > li.active > a {
    background: #3c8dbc;
    color: #fff;
}

.firstMenu > li.active > a > .selected {
    width: 8px;
    height: 25px;
    background-image: url("/image/sidebar-menu-arrow.png");
    float: right;
    position: absolute;
    right: 0;
    top: 8px;
}

.firstMenu > li > .nav > li > .nav > li > a {
    padding-left: 60px;
}

.page-sidebar .title {
    margin-left: 8px;
}

.page-sidebar .arrow {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
    font-size: 12px;
    color: #999;
}

.page-sidebar li.active .arrow {
    color: #eee;
}