<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaka.base.dao.IDistrictAreaDao">

	<insert id="createByBatch">
		insert into sys_district_area(
			district_id, province, city, area
		)
		values
			<foreach item="item" index="index" collection="list" separator=",">
		    	(#{item.districtId}, #{item.province}, #{item.city}, #{item.area})
 			</foreach>
	</insert>
	
	<delete id="deleteByDistrict">
		delete from sys_district_area where district_id = #{districtId}
	</delete>
	
	<select id="queryByDistrict" resultType="com.kaka.base.domain.DistrictArea">
		SELECT 
			id, district_id as districtId, province, city, area
		FROM
			sys_district_area
		where district_id = #{districtId}
	</select>
</mapper>
