<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaka.base.dao.IStreetDao">

	<insert id="create" parameterType="com.kaka.base.domain.Street">
		insert into sys_street(
			name, memo, create_time, create_by, province, city, area
		)
		values(
			#{name}, #{memo}, now(), #{createBy}, #{province}, #{city}, #{area}
		)
	</insert>
	
	<delete id="delete">
		delete from sys_street where id = #{id}
	</delete>
	
	<update id="update" parameterType="com.kaka.base.domain.Street">
		update sys_street
			set name = #{name}, update_by = #{updateBy},
				province = #{province}, city = #{city}, area = #{area}
		where id = #{id}
	</update>
	
	<select id="queryAll" resultType="com.kaka.base.domain.Street">
		SELECT 
			id, name, memo, province, city, area
		FROM
			sys_street
	</select>

	<select id="get" resultType="com.kaka.base.domain.Street">
		SELECT 
			id, name, memo, province, city, area
		FROM
			sys_street
		where id = #{id}
	</select>

	<select id="queryByPage" resultType="com.kaka.base.domain.Street">
		SELECT 
			id, name, memo, province, city, area
		FROM
			sys_street
		<where>
			<include refid="condition" />
		</where>
		LIMIT #{pageSize} offset #{offset}
	</select>
	
	<select id="getCount" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			sys_street
		<where>
			<include refid="condition" />
		</where>
	</select>
	
	<sql id="condition">
		<if test="null!=name and ''!=name">
			and name like CONCAT('%',#{name},'%')
		</if>
	</sql>
</mapper>
